".source.cmake":
  "File(Glob …)":
    prefix: "glob"
    body: "FILE(GLOB${1:_RECURSE} ${2:VAR} ${3:src/*.cc})"
  "Foreach … EndForeach":
    prefix: "for"
    body: '''
      FOREACH(${1:VAR} ${2:items})
      	$0
      ENDFOREACH()
    '''
  "Function … EndFunction":
    prefix: "fun"
    body: '''
      FUNCTION(${1:FUNCTION_NAME}${2/(.+)/(?1: )/}${2:arg1})
      	$0
      ENDFUNCTION()
    '''
  "If … Endif":
    prefix: "if"
    body: '''
      IF(${1:condition})
      	$0
      ENDIF()
    '''
  "List(Append …)":
    prefix: "append"
    body: "LIST(APPEND ${1:LIST_VARIABLE} ${2:new_element})"
  "Macro … EndMacro":
    prefix: "mac"
    body: '''
      MACRO(${1:MACRO_NAME}${2/(.+)/(?1: )/}${2:arg1})
      	$0
      ENDMACRO()
    '''
  "Message(…)":
    prefix: "msg"
    body: "MESSAGE(\"$1\")$0"
  "Set(Variable …)":
    prefix: "set"
    body: "SET(${1:VAR} ${2:value})"
