'fileTypes': [
  'cc.in'
  'cpp.in'
  'cp.in'
  'cxx.in'
  'c++.in'
  'cu.in'
  'cuh.in'
  'h.in'
  'hh.in'
  'hpp.in'
  'hxx.in'
  'h++.in'
  'inl.in'
  'ino.in'
  'ipp.in'
  'tcc.in'
  'tpp.in'
]
'name': 'CMake Template C++'
'patterns': [
  {
    'include': 'source.cmake.template'
  }
  {
    'comment': 'C++ source'
    'include': 'source.cpp'
  }
]
'scopeName': 'source.cmake.template.cpp'
